
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Custom/payment.js"></script>
<div class="container" ng-controller="paymentcontroller">
    <br /><br />
    <div class="data-entry">
        <div class="form-side width-full">
            <div class="login-form">
                <div id="form-main">
                    <form class="form" name="form1" novalidate>
                        <div class="width-half no-margin">
                            <p class="type">
                                <input ng-model="username" type="text" placeholder="User Name" required />
                            </p>

                            <p class="no">
                                <input ng-model="amount" type="number" placeholder="Amount" required />
                            </p>
                        </div>
                        <div class="width-half">
                            <p class="date">
                                <input name="clockdate" id="clockdate" type="text" placeholder="Checkin Date" value="@DateTime.Now.ToString("dd - MMM - yyyy")" disabled= disabled />
                            </p>
                            <p class="date">
                                <select ng-model="paymenttype">
                                    <option value="check">Check</option>
                                    <option value="cash">Cash</option>
                                    
                                </select>
                            </p>
                        </div>
                        <div class="token button-width">
                            <div class="submit">
                                <input type="submit" value="ADD PAYMENT" id="submit-button" ng-click="addPayment()"  ng-disabled="form1.$invalid"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <table>
        <tr>
            <td colspan="6" class="filter">
                <b>Filter By</b>
                <input type="text" placeholder="Enter User Name" ng-model="filteruser"/>
                <input type="submit" value="Search" ng-click="getPayments()"/>
                <input type="submit" value="Clear" />
                <div class="print"><a href=""><img src="~/images/print-report.png" alt="" /></a></div>
            </td>
        </tr>
        <tr>
            <th>User</th>
            <th>Amount</th>
            <th>Date / Time</th>
            <th>Payment Type</th>
        </tr>
        
        <tr ng-repeat="p in payments">
            <td>{{p.username}}</td>
            <td>{{p.amount}}/-</td>
            <td>{{p.received_date_string}}</td>
            <td>{{p.payment_type}}</td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="pagination">
                    <ul>
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a class="active" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
    <div class="copyright">&copy; 2016. All Rights Reserved.</div>
</div>

