
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <br /><br />
    <div class="data-entry">
        <div class="form-side width-full">
            <div class="login-form">
                <div id="form-main">
                    <form class="form" id="form1">
                        <div class="width-half no-margin">
                            <p class="type">
                                <input name="carbike" type="text" placeholder="User Name" required />
                            </p>

                            <p class="no">
                                <input name="cnic" type="text" placeholder="Amount" required />
                            </p>
                        </div>
                        <div class="width-half">
                            <p class="date">
                                <input name="mobilenumber" type="text" placeholder="05 Aug 2016 08:50pm" required />
                            </p>
                            <p class="date">
                                <select>
                                    <option>Payment Type</option>
                                    <option>Payment Type</option>
                                    <option>Payment Type</option>
                                    <option>Payment Type</option>
                                    <option>Payment Type</option>
                                </select>
                            </p>
                        </div>
                        <div class="token button-width">
                            <div class="submit">
                                <input type="submit" value="ADD PAYMENT" id="submit-button" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <table>
        <tr>
            <td colspan="6" class="filter">
                <b>Filter By</b>
                <input type="text" placeholder="Enter User Name" />
                <input type="submit" value="Search" />
                <input type="submit" value="Clear" />
                <div class="print"><a href=""><img src="images/print-report.png" alt="" /></a></div>
            </td>
        </tr>
        <tr>
            <th>User</th>
            <th>Amount</th>
            <th>Date / Time</th>
            <th>Payment Type</th>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Tahhir</td>
            <td>25000/-</td>
            <td>05 Aug 2016 08:50pm</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="pagination">
                    <ul>
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a class="active" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
    <div class="copyright">&copy; 2016. All Rights Reserved.</div>
</div>

