

@{
    Layout = null;
 }
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Car Parking</title>
    <link href="~/Content/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="head-login">
            <div class="head-login-title">Raja Zahid Latif Contractor</div>
            <div class="slogan">slogan comes here. slogan comes here.</div>
        </div>
        <div class="login-photo">
            <img src="~/images/user-img.jpg" alt="" />
        </div>
        <div class="login-form">
            <div id="form-main">
                <div id="form-div">
                    <form class="form" id="form1" method="post">
                        <p class="name">
                            <input name="username" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Your Name" id="name" required=required />
                        </p>

                        <p class="email">
                            <input name="password" type="password" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Password" required=required />
                        </p>
                        <p class="remember"><input type="checkbox" /> Remember Me</p>
                        <p class="align"><a href="">forgot your password? click here</a></p>
                        <div class="submit">
                            <input type="submit" value="LOGIN" id="submit-button" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
            <div class="alert success">
                <span class="closebtn">&times;</span>
                <strong>Success!</strong> You Login Successfully.
            </div>
        </div>
    </div>
</body>
</html>
