
@{
    ViewBag.Title = "AllCars";
}

 
<script src="~/Scripts/Custom/allCars.js"></script>
<h2></h2>
<div ng-controller="allCars">
    <table style="width:90%; margin:0 auto; font-size:12px">
        <tr>
            <td colspan="11" class="filter">
                <b>Filter By</b>
                <input type="number" ng-model="token_no" placeholder="Enter Token No" />
                <input type="text" ng-model="veh_no" placeholder="Enter Vehicle No" />
                <select ng-model="parked">
                    <option value="all" selected>All</option>
                    <option value="parkedIn">Parked In</option>
                </select>

                <input type="text" ng-model="from" placeholder="From" class="datepicker" />
                <input type="text" ng-model="to" placeholder="To" class="datepicker" />
                <select ng-model="user" ng-options="user.id as user.name for user in users"></select>
                <input type="submit" ng-click="pageClick(1)" value="Search" />
                <input type="submit" value="Clear" ng-click="clearControls()" />
                <input type="submit" value="Checkout" ng-click="CheckoutCars()" style="float:right" />
            </td>
        </tr>
            <tr>
            <td colspan="11" class="filter">
                Total Amount: <b>{{carTable.totalAmount}}</b>
           </td>
                </tr>

        <tr>
            <th>Sr</th>
            <th>Token</th>
            <th>Vehicle No</th>
            <th>Checkin Time</th>
            <th>Checkout Time</th>
            <th>Checkoutby</th>
            <th>Duration</th>
            <th>Amount</th>
            <th>Monthly</th>
            <th>Night</th>
            <th>Checkout</th>
        </tr>
        <tr ng-repeat="car in carTable.Cars">
            <td>{{((carTable.CurrentPage - 1) * 100) +( $index +1)}}</td>
            <td>{{car.tokenNo  }}</td>
            <td>{{car.vehicle_NO }}</td>
            <td>{{car.checkinTime }}</td>
            <td>{{car.checkouttimeString }}</td>
            <td>{{car.checkOutBy }}</td>
            <td>{{car.Duration }}</td>
            <td>{{car.Amount }}</td>
            <td><img src="~/images/check-mark.png" alt="" ng-show="car.monthly" /></td>
            <td><img src="~/images/check-mark.png" alt="" ng-show="car.night" /></td>
            <td><input type="checkbox" ng-model="selected[car.Id]" ng-if="car.checkouttimeString == ''"/></td>
        </tr>
    </table>
    <table style="width:90%; margin:0 auto;">
        <tr >
            <td>
                <div class="pagination">
                    <ul>
                        <li ng-click="pageClick(carTable.CurrentPage - 1)" ng-if="carTable.CurrentPage != 1"><a ng-if="carTable.CurrentPage != 1">«</a></li>
                        <li ng-repeat="n in range(1,carTable.TotalPages)" ng-click="pageClick(n)"><a ng-class="carTable.CurrentPage == n ? 'active' : ''">{{n}}</a></li>
                        <li ng-click="pageClick(carTable.CurrentPage + 1)" ng-if="carTable.CurrentPage != carTable.TotalPages"><a ng-if="carTable.CurrentPage != carTable.TotalPages">»</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>


</div>

<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
    });

</script>
