
@{
    ViewBag.Title = "Index";
}




@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Custom/report.js"></script> 

<div class="container" ng-controller="reportController">
    <br /><br />
    <div class="data-entry">
        <div class="form-side width-full">
            <div class="login-form">
                <div id="form-main">
                    <form class="form" name="form1" novalidate>
                        <div class="width-half no-margin">
                            <p class="type">
                                <input ng-model="from" type="text" placeholder="From" class="datepicker" />
                            </p>

                        </div>

                        <div class="token button-width">
                            <div class="submit">
                                <input type="submit" value="Search" id="submit-button" ng-click="searchReport()" ng-disabled="form1.$invalid" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div style="background-color:white; color:black; padding:15px; border-radius:2%">

        <div ng-repeat="shift in shifts">
            <h2 style="text-decoration:underline; float:left">Shift {{$index + 1}}</h2> <div style="float:left;font-size: 12pt;padding-top: 28px; margin-left: 10px;">({{shift.FromTime}}   <b>To</b>   {{shift.ToTime}})</div> 
            <div style="width:100%; float:left; margin-bottom: 10px;">
                <div style="float:left;width: 200px;">
                    Total Cash for shift:
                </div>
                <div style="float:left; margin-left:10%">
                    <b> {{shift.CashForShift}}</b>
                </div>
            
                <div style="float:left;width: 200px;margin-left:10%">
                    Total Vehicle Parked In:
                </div>

                <div style="float:left; margin-left:10%">
                    <b>  {{shift.TotalVehicleIn}}</b>
                </div>
            </div>
            <div style="width:100%; float:left; margin-bottom: 10px;">
                <div style="float:left;width: 200px;">
                    Total Vehicle Parked Out:
                </div>

                <div style="float:left; margin-left:10%">
                    <b>{{shift.TotalVehicleOut}}</b> 
                </div>
            </div>
            <table style="margin-bottom:10px">

                <tr>

                    <th>User</th>
                    <th>Total Parked In</th>
                    <th>Total Parked Out.</th>
                    <th>Total Amount</th> 
                </tr>
                <tr ng-repeat="p in shift.shiftsTable">

                    <td>{{p.user}}</td> 
                    <td>{{p.totalParkedIn}}</td>
                    <td>{{p.totalParkedOut}}</td>
                    <td>{{p.totalAmount}}</td> 
                </tr>

            </table>
        </div>
    </div>
    <div class="copyright">&copy; 2016. All Rights Reserved.</div>
</div>

<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
    });

</script>
